<h1 *ngIf="!data.modificar" mat-dialog-title>Crear un nuevo cliente</h1>
<h1 *ngIf="data.modificar" mat-dialog-title>Modificar cliente</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>RUC</mat-label>
    <input *ngIf="!data.modificar" [(ngModel)]="data.ruc" matInput required>
    <input *ngIf="data.modificar" [(ngModel)]="data.ruc" matInput [disabled]="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre y Apellido</mat-label>
    <input [(ngModel)]="data.nombre" matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="data.email" matInput>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>

