<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef>Ruc</th>
        <td mat-cell *matCellDef="let element">{{element.ruc}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreApellido">
        <th mat-header-cell *matHeaderCellDef>Nombre y Apellido</th>
        <td mat-cell *matCellDef="let element">{{element.nombreApellido}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell  *matHeaderCellDef > Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="modificarCliente(element)"> <mat-icon color="primary">edit</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell  *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-button (click)="eliminarCliente(element.ruc)"> <mat-icon color="warn">delete</mat-icon> </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
