
<h1>Reporte de ventas resumido</h1>

<app-reporte-ventas-resumido [cabeceras]="cabeceras"></app-reporte-ventas-resumido>


<app-reporte-ventas-detallado [cabeceras]="cabeceras"></app-reporte-ventas-detallado>
